* {
    color: white;
    background-color: black;
}

.nav-brand {
    text-align: center;
    font-size: 30px;
}

a:link { text-decoration: none;}

a:visited { 
    text-decoration: none;
}

a:hover { 
    text-decoration: none;
    color: blue;
}

a:active { text-decoration: none;}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 5rem;
}

.hero-text {
    margin-left: 25px;
}

.contact-info {
    
}

.form-container {
    border: 1px solid white;
    display: grid;
    gap: .5rem;
    padding: 10px;
    justify-content: center;
}

#fname {
    align-items: center;
}

label {
    font-size: 20px;
}

#comments {
    height: 100px;
    width: 600px;
}

input {
    height: 20px;
}


#button {
    border: solid 1px grey;
    height: 30px;
}